@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --light-pink: hsl(275, 100%, 97%);
  --dark-purple: hsl(292, 42%, 14%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--dark-purple);
  background-color: var(--light-pink);
  background-image: url('/assets/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-attachment: fixed;


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
